@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    :root {
        --transparent: transparent;
        --white: #ffffff;

        --background: #ffffff;
        --foreground: #000000;

        --alternative: #f9fafb;
        --alternative-foreground: #111827;

        --primary: #7413dc;
        --primary-foreground: #ffffff;

        --input: #f9fafb;
        --input-border: var(--primary);
        --input-foreground: #111827;
    }

}