---
import { SendHorizonal } from "lucide-react";
import { Block } from "basecamp/components";
import Button from "../../../packages/basecamp/src/components/ui/button.astro";

---

<Block.Wrapper id="sections" variant="primary" className="py-8">
    <Block.Header slot="header">
        Want to get involved with Scouting? </Block.Header
    >
    <Block.SubHeader slot="subHeader" tag="p">
        If you want to get involved with Scouting as volunteer or gain
        skills for life as a Squirrel, Beaver, Cub, Scout or Explorer why
        not 1st Chertsey Scout Group
    </Block.SubHeader>
    <Block.Body slot="body" size="sm" className="mb-0 lg:mb-0">
        <a href="/#contact" class="w-full">
            <Button
                Icon={SendHorizonal}
                type="button"
                text="Send us a message"
            />
        </a>
    </Block.Body>
</Block.Wrapper>